.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.link::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}

.link:hover:before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}

.link:hover {
  color: black;
}
.link.active {
  color: black;
}
.link.active:before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
